<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> Web ThinkIn Inc. All rights reserved.</p>
                <p>Powered by <a href="https://www.webhomelibrary.com/" target="_blank">web home library</a>. Theme by <a href="#" target="_blank">webhomelibrary</a></p>
            </div>
        </div>
    </div>
</footer>